extends layout

block content
  h1= title


   table.table.table-striped
      thead.thead-dark
        tr
          th Nombre
          th Contraseña
          th Email
          th Rol

        each user in users
          tr
            td= user.username
            td= user.password
            td= user.mail
            td= user.role